
*__pycache__
*.jpg
*.pt
*.mp4
*.mov

# datasets
/datasets/Safety_Helmet_Train_dataset
/datasets/VOC2028
/datasets/smoke_phone
/datasets/smoke

# training
/runs

# model ckpt
ckpt/classifier
ckpt/clip-vit-base-patch16
ckpt/yolo

